BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortEnumsOnASingleLine: false

ColumnLimit: 100
